<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>{{ day }} Workout</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight (kg)</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for workout in workouts %}
            <tr>
                <td>{{ workout[2] }}</td>
                <td>{{ workout[3] }}</td>
                <td>{{ workout[4] }}</td>
                <td>{{ workout[5] }}</td>
                <td>{{ workout[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Back to Home</a>
</body>
</html>